################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.ipch
*.suo
/.vs/LightHouse2/v16
/apps/benchmarkapp/x64/Release/benchmarkapp.tlog
/apps/benchmarkapp/x64/Release
*.exe
/apps/benchmarkapp/benchmarkapp.pdb
/apps/benchmarkapp/benchmarkapp.lib
/apps/benchmarkapp/benchmarkapp.exp
*.xml
/apps/imguiapp/x64/Release/imguiapp.tlog
/apps/imguiapp/x64/Release
*.pdb
*.lib
*.exp
/apps/pbrtdemoapp/x64/Release/pbrtdemoapp.tlog
/apps/pbrtdemoapp/x64/Release
/apps/tinyapp/x64/Release
/apps/viewerapp/x64/Release/viewerapp.tlog
/apps/viewerapp/x64/Release
/apps/_shareddata
/coredlls/Release
/lib
*.ini
/apps/benchmarkapp/x64/Debug
/apps
/coredlls/Debug
