################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.ipch
*.suo
/.vs/LightHouse2/v16
/apps/benchmarkapp/x64/Release/benchmarkapp.tlog
/apps/benchmarkapp/x64/Release
*.exe
/apps/benchmarkapp/benchmarkapp.pdb
/apps/benchmarkapp/benchmarkapp.lib
/apps/benchmarkapp/benchmarkapp.exp
*.xml
/apps/imguiapp/x64/Release/imguiapp.tlog
/apps/imguiapp/x64/Release
*.pdb
*.lib
*.exp
/apps/pbrtdemoapp/x64/Release/pbrtdemoapp.tlog
/apps/pbrtdemoapp/x64/Release
/apps/tinyapp/x64/Release
/apps/viewerapp/x64/Release/viewerapp.tlog
/apps/viewerapp/x64/Release
/apps/_shareddata
/coredlls/Release
*.ini
/apps/benchmarkapp/x64/Debug
/apps
/coredlls/Debug
/lib/platform/x64
/lib/RenderCore_Minimal/x64
/lib/rendercore_optix7/x64
/lib/RenderCore_Optix7Adaptive/x64
/lib/RenderCore_Optix7Filter/x64
/lib/RenderCore_Optix7Guiding/x64
/lib/RenderCore_OptixPrime_B/x64
/lib/RenderCore_OptixPrime_BDPT/x64
/lib/RenderCore_OptixPrime_PBRT/x64
/lib/RenderCore_PrimeAdaptive/x64
/lib/RenderCore_SoftRasterizer/x64
/lib/rendercore_vulkan_rt/x64
/lib/RenderSystem
